html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    /*background-color: gray;*/
    /*background-image: url('../images/banana-icon2.png');*/
   
}

/*HEADER STYLE*/
.top {
    /*border-bottom: 1px solid blue;*/
    height: 10rem;
    width: 100%;
    background-color: #0070C0 ;
}
.content {
   margin: 0 auto;
    width: 60%;
    /*border: 1px solid pink;*/
    height: 10rem;
    padding: 1rem 0rem 0rem 0rem;
}
.title {
    width:70%;
text-align: left;
     float: right;
    /*padding: 2.5rem 2rem 4rem 0.5rem;*/
   
}
.title> h1 {
     font-family: 'Fredoka One', cursive;
    font-size: 3.9rem;
    font-weight: 400;
    margin: 0 auto;
    color: #FDD865;
  
}
.list-style {
  font-family: 'Comfortaa', cursive;
    font-weight:lighter;
    color: lightgreen;
}
.title> h2 {
     font-family: 'Comfortaa', cursive;
    font-size: 1.7rem;
    font-weight: 700;
    margin: .1em 0.2rem 0;
    color: #ffffff;
    text-shadow: 0px 1px 2px lightseagreen;
}
.logo {
    width: 5rem;
    height: 7rem;
    margin:.5rem 0 0 9rem ;
}


/*sections styles*/
.mylist {
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    font-weight: lighter;
}

.add-list {
    /*background-image: url('../images/bananas.jpg');*/
   background-color: hotpink;
    background-position: center;
    height: 25rem;
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
    float:left;
    color: black;
    text-align:center;
    padding: 7.5rem 1rem;
    /*border: 1px solid pink;*/
}

.yellow-box {
    background-color: #FDD865;
    width: 22rem;
    margin: 1rem auto;
    padding: .5rem 0;
    border-radius: 19rem 5rem 19rem;
    border: dashed;
}

.input-box {
    background: lightblue;
    width: 15rem;
    margin: 1rem auto;
    height: 2.5rem;
    text-align: center;
    padding: .5rem;
    border: 3px inset gray;
    letter-spacing: .2rem;
}
.add-button {
    border-radius: 1rem;
    width: 7rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #FFC107;
}

.ready-list {
    /*background-image: url('../images/bananas.jpg');*/
    background-color: hotpink;
    background-position: center;
    height: 25rem;
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
    float: left;
    color: black;
    text-align: center;
    padding: 1rem 1rem;
    /* border: 1px solid pink; */
}

/*items styles */


.delete-button {
    cursor: pointer;
    margin:-3px 7px 11px;
    float: left;
    height: 30px;
    width: 30px;
    display: block;
    background-image: url('../images/cross.png');
    background-size: 100%;
    
}
.item-not-checked {
    cursor: pointer;
    margin:-3px 7px 11px;
    float: right;
    height: 30px;
    width: 30px;
    display: block;
    background-image: url('../images/banana-icon2.png');
    background-size: 100%;
    
}
.item-checked {
    cursor: pointer;
    margin:2px 7px 11px;
    float: right;
    height: 20px;
    width: 20px;
    display: block;
    background-image: url('../images/cicle-blue.png');
    background-size: 100%;
    
}
.checked {
    background-color: rgba(43, 104, 148, 0.56);
    text-decoration: line-through;
    border-radius: 3rem;
    border: .1rem dashed #03A9F4;
    width: 19rem;
    height: 2rem;
    text-align: center;
    padding: 0.2rem;
    color: rgb(173, 216, 230);
    margin: .5rem auto;
    letter-spacing: .2em;
}
.not-checked {
    background-color: #2B6894;
    border-radius: 3rem;
    border: .1rem solid #0070C0;
    width: 19rem;
    height: 2rem;
    text-align: center;
    padding: 0.2rem;
    color: #FDD865;
    margin: .5rem auto;
    letter-spacing: .2em;
}
/*FOOTER styles*/
.social {
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    font-weight: light;
    background: yellow;
    width: 100%;
    overflow: auto;
    padding-bottom: 1.375rem;
    text-align: center;
}

.social .pinterest{
    color: red;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 0.25rem 3px;
    padding: 0.625rem 0;
    text-align: center;

}