html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background-color: gray;
   
}

/*HEADER STYLE*/
.top {
    /*border-bottom: 1px solid blue;*/
    height: 10rem;
    position: fixed;
    width: 100%;
    background-color: #0070C0 ;
}
.content {
   margin: 0 auto;
    width: 60%;
    /*border: 1px solid pink;*/
    height: 10rem;
    padding: 1rem 0rem 0rem 0rem;
}
.title {
    width:70%;
text-align: left;
     float: right;
    /*padding: 2.5rem 2rem 4rem 0.5rem;*/
   
}
.title> h1 {
     font-family: 'Fredoka One', cursive;
    font-size: 3.9rem;
    font-weight: 400;
    margin: 0 auto;
    color: #FDD865;
  
}
.list-style {
  font-family: 'Comfortaa', cursive;
    font-weight:lighter;
    color: lightgreen;
}
.title> h2 {
     font-family: 'Comfortaa', cursive;
    font-size: 1.7rem;
    font-weight: 700;
    margin: .1em 0.2rem 0;
    color: #ffffff;
    text-shadow: 0px 1px 2px lightseagreen;
}
.logo {
    width: 5rem;
    height: 7rem;
    margin:.5rem 0 0 9rem ;
    

}


/*sections styles*/

.info {
    background-image: url('images/bananas.jpg');
}
/*.left-column {*/
/*     border: 1px solid blue;*/
/*}*/
/*.right-column {*/
/*     border: 1px solid blue;*/
/*}*/
/*.recipes {*/
/*     border: 1px solid blue;*/
/*}*/